# {{ ansible_managed }}

data_directory = /var/lib/postfix
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
{{ postfix_daemon_directory }}

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix

mail_owner = postfix
setgid_group = postdrop

myhostname = {{ postfix_myhostname }}
mydomain = {{ postfix_mydomain }}
myorigin = $mydomain
mydestination = $myhostname, localhost.$mydomain, localhost

smtpd_banner = $myhostname ESMTP Postfix
smtp_helo_name = {{ postfix_helo_name | default('$myhostname') }}

inet_protocols = {{ postfix_inet_protocols | default("ipv4") }}
inet_interfaces = {{ postfix_inet_interfaces | join(', ') }}

{% if postfix_mynetworks|length > 1 %}
mynetworks = {{ postfix_mynetworks | join(', ') }}
{% endif %}

{% if postfix_relayhost %}
relayhost = [{{ postfix_relayhost }}]{% if postfix_relayhost_port != '' %}:{{ postfix_relayhost_port }} {% endif %}
{% endif %}

message_size_limit = {{ postfix_message_size_limit }}
unknown_local_recipient_reject_code = 550

local_header_rewrite_clients = permit_mynetworks

{% if postfix_canonicals|length > 1 %}
canonical_maps = regexp:/etc/postfix/canonical
{% endif %}
{% if postfix_sanitize_headers %}
header_checks = regexp:/etc/postfix/header_checks
{% endif %}
{% if postfix_bcc_maps|length > 1 %}
recipient_bcc_maps = regexp:/etc/postfix/bcc_map
{% endif %}
{% if postfix_sender_relay|length > 1 %}
sender_dependent_relayhost_maps = hash:/etc/postfix/sender_relay
{% endif %}
{% if postfix_generics|length > 1 %}
smtp_generic_maps = hash:/etc/postfix/generic
{% endif %}
{% if postfix_transports|length > 1 %}
transport_maps = hash:/etc/postfix/transport
{% endif %}
{% if postfix_virtual_aliases|length > 1 %}
virtual_alias_maps = hash:/etc/postfix/virtual
{% endif %}

smtp_tls_security_level = may
{% if ansible_os_family == "RedHat" %}
smtp_tls_CAfile = /etc/pki/tls/certs/ca-bundle.crt
{% else %}
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}

maximal_queue_lifetime = {{ postfix_maximal_queue_lifetime }}
bounce_queue_lifetime = {{ postfix_bounce_queue_lifetime }}

{% if postfix_enable_dkim %}
smtpd_milters           = inet:127.0.0.1:8891
non_smtpd_milters       = $smtpd_milters
milter_default_action   = accept
{% endif %}

{% if postfix_sasl_passwds %}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous, noplaintext
smtp_sasl_tls_security_options = noanonymous
smtp_sasl_mechanism_filter = plain, login
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sender_dependent_authentication = yes
{% endif %}

{% if postfix_allowed_rcpt_domains %}
smtpd_recipient_restrictions = check_recipient_access hash:/etc/postfix/recipient_domains, reject
{% endif %}

html_directory = no
readme_directory = /usr/share/doc/postfix-2.6.6/README_FILES
sample_directory = /usr/share/doc/postfix-2.6.6/samples
manpage_directory = /usr/share/man

{% for key,value in postfix_additional_settings.items() %}
{{ key }} = {{ value }}
{% endfor %}